<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../assets/js/vue.js"></script>
    <title>v-for</title>
</head>
<body>
<h1>v-for指令用法</h1>
<hr>
<div id="app">
    <ul>
        <li v-for="item in items">
            {{item}}
        </li>
    </ul>

    <ul>
        <li v-for="item in sortItems">
            {{item}}
        </li>
    </ul>
    <ul>
        <li v-for="item in mysort">
            {{item}}
        </li>
    </ul>
    <hr>
    <ul>
        <li v-for="student in students">
            {{student.name}} - {{student.age}}
        </li>
    </ul>
    <ul>
        <li v-for="(student,index) in students">
            {{index}}:{{student.name}} - {{student.age}}
        </li>
    </ul>
</div>

<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            items: [20, 23, 18, 65, 32, 19, 5, 56, 41],
            students: [
                {name: 'a', age: 12},
                {name: 'b', age: 0},
                {name: 'c', age: 38},
                {name: 'd', age: 20}
            ]
        },
        computed: {
            sortItems: function () {
                return this.items.sort();
            },
            mysort: function () {
                return this.items.sort(sortNumber);
            }
        }

    });

    function sortNumber(a, b) {
        return a - b;
    }
</script>

</body>
</html>